main
{
    display:flex
}




/* styling so the display div can look like the calculator image's display area */
#display
{
    display:grid;
    color: #889C9A;
    overflow: hidden;
}

/* forces the image to be stuck in place and behind the div*/
img {
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: -1;
  }